* {
    margin: 0;
}

/* header */

header {
    display: flex;
    background-color: #1d1d1d;
    height: 92px;
    gap: 120px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-left: 350px;

}

.logo img {
    margin-left: -14px;

}

.logo0 {
    height: 60px;
    position: relative;
}

.logo1 {
    height: 36px;
    position: relative;
    top: 6px;
    right: 19px;
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 15px;
    bottom: 10px;
}

nav ul a {
    font-size: 14px;
    color: #c6c6c6;
    text-transform: uppercase;
    text-decoration: none;

}

nav ul a:hover {
    text-decoration: underline;
    color: #d7b56d;
}

nav ul a:hover::after {
    content: "";
    display: flex;
    background-image: url('img/header/image.png');
    width: 25px;
    height: 12px;
    
}

.text_by_logo {
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    gap: 3px;
}

.text_by_logo span {
    color: #d7b56d;
    font-size: 20px;
    font-weight: 700;
}

.text_by_logo a {
    color: #d7b56d;
    font-size: 12px;

}

.telefone {
    position: relative;
    bottom: 9px;
    left: 27px;
}


/* main */

/* fisrt-container */
.first-container-main {
    display: flex;
}

.first-container-main h1 {
    font-family: Arial;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    font-size: 70px;
    width: 30%;
    top: 271px;
    left: 549px;
    font-weight: 800;
}

.fon1_0 {
    width: 100%;
}

.knopochka {
    position: absolute;
    z-index: 1;
    top: 550px;
    left: 554px;
}

.knopochka>button {
    width: 255px;
    height: 50px;
    font-size: 16px;
    font-family: Arial;
    text-transform: uppercase;
}

.knopochka::after {
    content: "";
    border: 1px #d7b56d solid;
    width: 255px;
    height: 50px;
    left: 10px;
    top: 5px;
    position: absolute;
    z-index: -1;
}


/* second-container-main */

.second-container-main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 403px;
    height: 199px;
}

.second-container-main>h1 {
    color: #1D1D1D;
    font-size: 36px;
    font-weight: normal;
}

.mini_second-container-main {
    display: flex;
    gap: 50px;
    margin-top: 35px;
}

.mini_second-container-main h1 {
    text-align: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.static_text p {
    font-family: Arial;
    font-size: 16px;
    text-align: center;

}

.static_text h1 {
    font-family: Arial;
    font-size: 64px;

}

.static_text::before {
    content: "";
    display: flex;
    border-top: 6px #d7b56d solid;
    width: 255px;

}

/* third-container-main */


.third-container-main {
    background-color: #1D1D1D;
    height: 685px;
    margin-top: 100px;
}

.zogolovok_third-container-main { 
    display: flex;
    height: 20%;
    
}
.zogolovok_third-container-main>h1 { 
    display: flex;
    color: #ffffff;
    font-weight: normal;
    font-family: Arial;
    margin-top: 70px;
    margin-left:406px;
    font-size: 36px;
    
}
.mini_third-container-main {
    display: flex;
    margin:100px;
    margin-left: 403px;
}
.photo_of_our_work {
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(2, 187px);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    position: relative;
    z-index: 1;
}
.photo_of_our_work::before {
    content: "";
    width: 422px;
    height: 440px;
    border: 1px solid rgba(215, 181, 109, 0.5);
    position: absolute;
    z-index: -1;
    bottom:-21px;
    right: 144px;
    
}

.big_block{
    display: flex;
    height: 390px;
    grid-area: 1 / 2 / 3 / 3;
}
.little_block {
    display: flex;
    height: 174px;
    
}
.text_of_our_work {
    display: flex;
    flex-direction: column;
    margin-left: 105px;
    width:30%;
    margin-top: -51px;
   
}

.text_of_our_work ul li  {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    font-weight: 450;
}
.text_of_our_work ul .p1 {
    color: rgba(255, 255, 255, 0.5);
    
}

.text_of_our_work ul li::before  {
    content: "";
    border-top:1px rgba(255, 255, 255, 0.3) solid;
    display: flex;
    width: 284px;
}

